<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.blindstick.servlets.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smsSendServlet</servlet-name>
        <servlet-class>com.blindstick.servlets.ServletPanic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locationServlet</servlet-name>
        <servlet-class>com.blindstick.servlets.locationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smsSendServlet</servlet-name>
        <url-pattern>/smsSendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locationServlet</servlet-name>
        <url-pattern>/locationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
